.App {
    font-family: "Inter", sans-serif;
    text-align: center;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
  }
  /* #283041 */
  :root {
    --color-primary: #283041;
    --color: #fff;
    --color-placeholder: #ccc;
    --color-background: #333;
  }
  
  .start {
    margin-left: 500px;
    position: relative;
    /* background: var(--color-primary); */
    top: 440px;
    left: 10px;
    border-radius: 2px;
    background-size: 24px;
  }
  
  .start__icon {
    background: var(--color-primary);
  }
  
  .start__dropdown {
    position: absolute;
    right: 250px;
    top: 78px;
    margin-top: -500px;
  }
  
  .body {
    width: max-content;
    height: max-content;
    display: flex;
    position: relative;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
  }
  
  .container {
    height: 410px;
    width: max-content;
    background-color: #283041;
    border-radius: 5px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .current__month {
    font-weight: 400;
    /* user-select: none; */
  }
  
  .current__month:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
  
  .arrow__down {
    color: white;
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
  }
  
  .arrow__down:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
  }
  
  .seven {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
  }
  
  .seven:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
  }
  
  .arrow__up {
    color: white;
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
  }
  
  .arrow__up:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
  }
  
  .week__colums {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  
  .week__days {
    display: grid;
    place-content: center;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: #6b7280;
    user-select: none;
  }
  
  .days__table {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  
  .days--line {
    display: grid;
    padding: 0.5rem;
    place-content: center;
    border-top-width: 1px;
    height: 3.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .days--inactive {
    color: #9ca3af;
  }
  
  /* .days_two {
    color: #ffffff;
    background-color: #dc2626;
  } */
  
  .days--clicked {
    color: #ffffff;
    background-color: blue;
  }
  
  .days--click {
    /* width: 17.56px;
    height: 22px; */
    display: grid;
    place-content: center;
    border-radius: 6px;
    width: 2.5rem;
    height: 2.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
    user-select: none;
  }
  .days--click:hover {
    color: #ffffff;
    background-color: #000000;
  }
  
  .test {
    color: black;
  }
  
  /* .month__list { */
    /* display: flex;
    grid-template-columns: repeat(3, 100px);
    flex-direction: row; */
  /* } */
  
  .holidays__cont {
    height: 410px;
    width: max-content;
    background-color: #283041;
    border-radius: 5px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
  }
  
  .select-month {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  